# Patch with STM32G0 family support: http://openocd.zylin.com/#/c/4807/

source [find interface/stlink.cfg]
source [find target/stm32g0x.cfg]

reset halt
stm32g0x unlock 0
reset halt

reset_config srst_only srst_nogate
init
flash probe 0